<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <httpAuthentication  set:defaultProvider="DigestCustom">
      <providers>
        <add name="BasicCustom" type="Sitecore.Support.Security.Authentication.BasicHttpAuthenticationProvider, Sitecore.Support.140517.163328">
          <Realm>sitecore</Realm>
        </add>
        <add name="DigestCustom" type="Sitecore.Support.Security.Authentication.DigestHttpAuthenticationProvider, Sitecore.Support.140517.163328">
          <Realm>sitecore</Realm>
        </add>
      </providers>
    </httpAuthentication>
    <settings>
      <setting name="Mvc.UsePhysicalViewsIfNewer" set:value="true" />
    </settings>
  </sitecore>
</configuration>